<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Users</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Users DataTable</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th></th>
              <th>User Name</th>
              <th>User Email</th>
              <th>Age</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th>User Name</th>
              <th>User Email</th>
              <th>Age</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let item of dataArray; index as i">
              <td>{{i}}</td>
              <td>{{item.username}}</td>
              <td>{{item.email}}</td>
              <td>{{item.age}}</td>
              <td>{{item.phone}}</td>
              <th>
                <button class="btn btn-info" (click)="details(item._id)">
                  Details
                </button>
                &nbsp;
                <button class="btn btn-danger" (click)="deleteuser(item._id,i)">
                  Delete
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
