<!-- <div class="div1">
  <div class="box1">
      <img src="../../assets/image/mayssa.jpg" alt="">
      <h1 class="text1">Mayssa Ben Fredj</h1>
      <p class="icons">
     <i (click)="openeditDialog()" class="fa-solid fa-pen-to-square icon"></i> edit
         <i (click)="openstatsDialog()" class="fa-regular fa-chart-bar icon"></i>Stats
      </p>
      <p class="info info1">
          <i class="fa-solid fa-envelope icon"></i> maissa8@outlook.fr
      </p>
      <p class="info">
          <i class="fa-solid fa-phone icon"></i> 58063153
      </p>
      <p class="info">
          <i class="fa-solid fa-location-dot icon"></i> Bizerte , Manzel Abderahmen , rue habib borguiba
      </p>
      <p class="info">
          <i class="fa-solid fa-id-card icon"></i> je suis intéresser par les échangeje suis intéresser par les échangeje suis intéresser par les échange
      </p>



  </div>

  <div class="box2">
      <p><button class="custom-btn btn-4" (click)="openFollowersDialog()"><span>Followers</span></button>
          <button class="custom-btn btn-4 following" (click)="openFollowingDialog()"><span>Following</span></button></p>


  </div>



  <mat-tab-group animationDuration="1000ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa-solid fa-folder-plus example-tab-icon"></i>Trocs
        </ng-template>

        <mat-tab-group animationDuration="1000ms" mat-align-tabs="center" class="trocs" >

        <mat-tab>
          <ng-template mat-tab-label>
              <i class="fa-solid fa-spinner example-tab-icon" ></i>Trocs in progress
          </ng-template>
          Content 1
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <i class="fa-solid fa-thumbs-up example-tab-icon"></i>Trocs realized
          </ng-template>
          Content 1
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
              <i class="fa-solid fa-box-archive example-tab-icon"></i>Trocs archived
          </ng-template>
          Content 1
        </mat-tab>

      </mat-tab-group>


      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa-solid fa-box-archive example-tab-icon"></i> Propostion
        </ng-template>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        <i class="fa-solid fa-receipt"></i>
        Content 2
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa-solid fa-house example-tab-icon"></i>            Third
        </ng-template>

        Content 3
      </mat-tab>
      <mat-tab>
          <ng-template mat-tab-label>
            <i class="fa-solid fa-box-archive example-tab-icon"></i>            Second
          </ng-template>
          Content 2
        </mat-tab>

    </mat-tab-group>

  </div>




 -->
<P>profil works</P>
